body{
    background-color: #ad2abe;
}
header{
    text-align: center;
}
main{
    display: flex;
    
   
}
.text1{
font-family: 'Raleway', sans-serif;
font-size: 90px;
color: #ffff;
position: absolute;
left: 650px;
top: -50px;
}
.text2{
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    color: white;
    width: 550px;
    height: 75px;
    position: absolute;
    left: 450px;
    top: 140px;
}
.one{
    justify-content: center;
    position: absolute;
    left: 165px;
    top:  229px;
}
.two{
    justify-content: center;
    position: absolute;
    left: 565px;
    top:  229px;
}
.three{
    justify-content: center;
    position: absolute;
    left: 965px;
    top:  229px;
}
.nov20{
    font-family: 'Raleway', sans-serif;
border: 1px solid black;
background-color: black;
color: #ffffff;
opacity: .6;
border-radius: 5px;
width: 60px;
height: 60px;
text-align: center;
font-size: 32px;
position: absolute;
top: 10px;
left: 40px;
}
.nov14{
    font-family: 'Raleway', sans-serif;
    border: 1px solid black;
    background-color: black;
    color: #ffffff;
    opacity: .6;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 32px;
    position: absolute;
    top: 10px;
    left: 40px;
    }
    .nov10{
        font-family: 'Raleway', sans-serif;
        border: 1px solid black;
        background-color: black;
        color: #ffffff;
        opacity: .6;
        border-radius: 5px;
        width: 60px;
        height: 60px;
        text-align: center;
        font-size: 32px;
        position: absolute;
        top: 10px;
        left: 40px;
        }
.nov{
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    position: absolute;
    color: #ffffff;
    top: 55px;
left: 50px;
opacity: .6;
}
.gren{
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    position: absolute;
    left: 20px;
    top: 180px;
    font-size: 20px;
}
.by{
    font-family: 'Raleway', sans-serif;
    color: #6b7266;
    position: absolute;
    left: 20px;
    top: 260px;
    font-size: 13px;
}
.ww{
    border: 1px solid #f72b3b;
    background-color: #e90316;
    color: white;
    width: 200px;
    height: 60px;
position: absolute;
left: 650px;
top: 600px;
}
.view{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 20px;
}