
*{
    transition: all .1s ease-in;
}
body{
    background-color: #3B3F45;
    border: 20px solid white ;
    height: 720px;
    
}
* {
    margin: 0;
    padding: 0;
   }
header{
    background-color: #4A4F56;
    text-align: center;
}
h1{
    color: #EB7E7F;
    padding: 15px 0px 0px 0px;
}
h1+p{
    color: #EB7E7F;
    padding: 0px 0px 20px 0px;
}
ul{
    background-color: #3B3F45;
    text-align: left;
    padding-left: 500px;
    margin-top: 40px;
    
}

li{
    
    width: 500px;
    height: 30px;
    padding: 20px 0px 0px 10px;
    list-style-type: none;
    color: white;
}
li:hover{
   
    border-bottom:solid white 2px;
    border-top:solid white 2px;    
}
footer{
    background-color:  #4A4F56;
    border: solid 1px #3B3F45;
    text-align: center;
    width: 510px;
    height: 50px;
    margin-left: 500px;
    margin-top: 40px;
    color: #EB7E7F;
}
h2{
    margin-top: 10px;
}
li:nth-child(1){
    background-color:  #88839E;
}

li:nth-child(1):hover{
    background-color:  #5F6072;
    
}
li:nth-child(1):active{
    background-color:  #EB7E7F;
    text-decoration:line-through;
}
li:nth-child(1):after{
    content:  "(for the next lessons about CSS)";
    color: #333; 
    font-size: 15px;  
}
li:nth-child(3){
    background-color:  #88839E;
    
}
li:nth-child(3):hover{
    background-color:  #5F6072;
}
li:nth-child(3):active{
    background-color:  #EB7E7F;
    text-decoration:line-through ;
}
li:nth-child(3):after{
    content:  "(because they are awesome)";
    color: #333; 
    font-size: 15px;  
}
li:nth-child(5){
    background-color:  #88839E;
}
li:nth-child(5):hover{
    background-color:  #5F6072;
}
li:nth-child(5):active{
    background-color:  #EB7E7F;
    text-decoration:line-through ;
}
li:nth-child(5):after{
    content:  "( for my friends)";
    color: #333; 
    font-size: 15px;  
}
li:nth-child(2){
    background-color:  #7A7593;  
}
li:nth-child(2):hover{
    background-color:  #5F6072;
}
li:nth-child(2):active{
    background-color:  #EB7E7F;
    text-decoration:line-through ;
}
li:nth-child(2):after{
    content:  "(for more CSS manipulations)";
    color: #333; 
    font-size: 15px;  
}
li:nth-child(4){
    background-color:  #7A7593;
    
}
li:nth-child(4):hover{
    background-color:  #5F6072;
}
li:nth-child(4):active{
    background-color:  #EB7E7F;
    text-decoration:line-through ;
    
}
li:nth-child(4):after{
    content:  "(hm... they always disappear)";
    color: #333; 
    font-size: 15px;  
    
}
li:nth-child(6){
    background-color:  #7A7593;
    
}
li:nth-child(6):hover{
    background-color:  #5F6072;
}
li:nth-child(6):active{
    background-color:  #EB7E7F;
    text-decoration:line-through ;
    
}
li:nth-child(6):after{
    content:  "( for my friends)";
    color: #333; 
    font-size: 15px;  
}

 