
body{
    position: absolute;
}
.nav__div_sign{
    color: #e1c2f1;
    white-space: nowrap;
    position: absolute;
    left: 550px;
    top: 130px;
}
.nav__div_sign:hover{
    border-bottom: 3px solid #e66a64 ;
    padding-bottom: 3px;
}
.nav__div_join{
    position: absolute;
    left: 620px;
    top: 130px;
    white-space: nowrap;
    color: #e1c2f1;
}
.nav__div_join:hover{
    border-bottom: 3px solid #e66a64 ;
    padding-bottom: 3px;
}
.nav__label--name{
    position: absolute;
    left: 550px;
    top: 230px;
    white-space: nowrap;
    color: #fbf6e4;
    
}
.nav__label--login{
    position: absolute;
    left: 550px;
    top: 255px;
    opacity: .1;
    outline: none;   
    border: 0px solid;   
}
.nav__label--login:focus{
    opacity: 1;
    background-color: #7c4ec5;
}
.nav__label--password{
    position: absolute;
    left: 550px;
    top: 290px;
    white-space: nowrap;
    color: #fbf6e4;
}
.nav__label--registration__password{
    position: absolute;
    left: 550px;
    top: 315px;
    opacity: .1;
    outline: none;   
    border: 0px solid;   

    

}
.nav__label--registration__password:focus{
    opacity: 1;
    background-color: #7c4ec5;
}
.nav__label--registration__checkbox{
    position: absolute;
    left: 550px;
    top: 350px;
    white-space: nowrap;
    color: #fbf6e4;
}
.nav__label--registration__keep{
    position: absolute;
    left: 570px;
    top: 346px;
    white-space: nowrap;
    color: #fbf6e4;
}
.nav__div--2--submit{
    position: absolute;
    left: 650px;
    top: 450px;
    white-space: nowrap;
    color: #ffffff;
    background-color: #23ae92;
    
}
.nav__div--2--forgot{
    position: absolute;
    left: 550px;
    top: 500px;
    white-space: nowrap;
    color: #9a95c4;
    border-bottom: solid 2px #9a95c4;
}
.nav__div--2--create{
    position: absolute;
    left: 700px;
    top: 500px;
    white-space: nowrap;
    color: #9a95c4;
    border-bottom: solid 2px #9a95c4;

}
.body__div--border{
    position: absolute;
    top: 55px;
    left: 300px;
    border: solid 0px;
    background-color: #e5eeee;
    width: 800px;
    height: 600px;
}
.body__div--body{
    position: absolute;
    top: 90px;
    left: 450px;
}